<header>
    <div id="navigation-bar">
        LOGO
        <div class="right-section">
            <button>login</button>
            <input type="text" placeholder="type here">
            <button>search</button>
            <button id="menu-btn">categories</button>
        </div>
        <div id="menu">
            MENU  
            <h3>General Food</h3>
            <div class="categories">
                <div class="category">Breakfast</div>
                <div class="category">Lunch</div>
                <div class="category">Snacks</div>
                <div class="category">Dessert & Sweets</div>
                <div class="category">Drinks</div>
            </div>
            <h3>Cuisine-Based</h3>
            <div class="categories">
                <div class="category">American</div>
                <div class="category">Italian</div>
                <div class="category">Mexican</div>
                <div class="category">Indian</div>
                <div class="category">Chinese</div>
            </div>
            <h3>Dietary & Lifestyle</h3>
            <div class="categories">
                <div class="category">Vegan</div>
                <div class="category">Low-calory</div>
                <div class="category">Gluten-Free</div>
                <div class="category">Keto & Low-Carb</div>
                <div class="category">High-Protein</div>
            </div>
        </div>
    </div>
</header>
