main{
    flex: 1;
}
footer{
    background-color: gainsboro;
}
header{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 15px;
    
    position: relative;
}